/* EmojiFont for Flags */
@font-face {
  font-family: "TwemojiMozilla";
  src: url("TwemojiMozilla.ttf");
}

.emojiFlag {
  font-family: "TwemojiMozilla", sans-serif;
  display: block;
  width: 250px;
  text-align: center;
  flex-grow: 1;
  text-shadow: 5px 5px 10px rgb(117, 117, 117);
  cursor: pointer;
  border-radius: 3px;
  caret-color: transparent; 
}
.emojiFlag > span,
.randomCountry > span {
  font-size: 4rem;
}

/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
*, *:before, *:after {
box-sizing:inherit;
}
*/

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* LAYOUT
/*******************************************/

body {
  background-color: rgb(233,240,254);
}
.randomShuffled {
  border-radius: 3px;
  background-color: rgb(211,225,253);
  padding: 1%;
  box-shadow: inset 1px 1px 5px rgb(105, 105, 105);
}

main {
  width: 80vw;
  position: relative;
  left: 12%;
}
/* High score */
.highscore {
    font-size: 1.2rem;
    color: #530000;
    text-align: center;
    /* position: absolute;
    z-index: 10;
    top: 0;
    left: 40%; */
}
/* RANDOM COUNTRY SECTION STYLES */

.countriesBoard {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 1% 0;
}
.countriesBoard > div {
  text-align: center;
}
.progressBar {
    position: relative;
  background-color:rgb(143, 143, 143);
  border-radius: 3px;
  margin-top: 3%;
  width: 100%;
  height: 20px;
  
}
.progressBarBG {
    width: 0%;
    background-color: #2f4ac0;
    height: 20px;
    border-radius: 3px;  
    transition: width 400ms ease;
}
.randomCountry > h4,
.randomCountry > .emojiFlag {
  display: inline-block;
  vertical-align: middle;
  font-family: "TwemojiMozilla", sans-serif;
  width: auto;
  padding-right: 2%;
}
/* SIDEBAR STYLES */
/* ********************************* */
.sidebar {
  position: fixed;
  width: 10%;
  height: 100%;
  background-color: rgb(84, 142, 252);
  border-radius: 3px;
}
.sidebar div:nth-child(-n + 3) {
  display: flex;
  justify-content: space-around;
  background-color:#fff;
  margin: 15px 10px;
  border-radius: 5px;
  padding: 2% 2%;
}
.sidebar > h3 {
  text-align: center;
  padding: 10%;
  color:rgb(2, 0, 0);
}

.sidebar > div:nth-last-child(-n + 4) {
  background-color:#fff;
  text-align: center;
  padding: 5% 0;
  margin: 30px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgb(66, 66, 66);
  cursor: pointer;
  font-size: 1rem;
}

/*SPINNING GLOBE OVERLAY*/
.globeOverlay {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgb(9, 2, 128);
  background: linear-gradient(
    90deg,
    rgb(221, 221, 221) 14%,
    rgb(196, 196, 196) 74%
  );
  
  /* transform: scale(50%); */
}
.globe {
  position: relative;
  margin: 150px auto;
  width: 600px;
  height: 600px;
  background: url("https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2005/05/envisat_mosaic_may_-_november_2004/9695811-3-eng-GB/Envisat_mosaic_May_-_November_2004_pillars.jpg")
    0 0 repeat;
  border-radius: 50%;
  background-size: 1300px;
  animation: rotate 15s linear infinite;
  transform-style: preserve-3d;
  transition: transform 0.2s linear;
  box-shadow: inset 30px 10px 40px rgb(44, 44, 44),
    inset -30px 0 20px rgb(25, 25, 25), 10px 4px 40px rgb(25, 25, 25);
}

@keyframes rotate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1300px 0;
  }
}
.globeOverlay > p {
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(0, 0, 34);
  top: 50px;
}
.globeOverlay > .startGame {
  position: relative;
  border-radius: 5px;
  display: block;
  width: 120px; 
font-size: 1.2rem;
  margin: 0 auto;
  text-align: center;
  top: 100px;
  padding: 0.5% 0;
  background-color: rgb(6, 0, 46);
  color: #fff;
  /* box-shadow: inset 2px 2px 6px rgb(87, 97, 146),
    inset -2px -2px 6px rgb(87, 97, 146); */
  cursor: pointer;
}
.fadeOut {
  opacity: 0;
  transition: all 1.5s ease-out;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.neightbour {
  /* border: 2px solid green; */
  border: none;
}

.not_neightbour {
  /* border: 2px solid red; */
  border: none;
}
.DMG, .HEAL {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(circle, rgba(244,242,242,0.2) 60%, rgba(0,255,51,0.51) 100%);
    z-index: 10;
    display: none;
    opacity: 0;
    transition: opacity 200ms ease-in;
}
.HEAL {
    background-image: radial-gradient(circle, rgba(244,242,242,0.2) 75%, rgba(0,255,51,0.51) 100%);
}
.DMG {
    background: rgb(244,242,242);
background: radial-gradient(circle, rgba(244,242,242,0.1) 75%, rgba(255,0,0,0.51) 100%);
}

.sidebar > div.Jabaite {
  background:#fff;
  color:#000;
  /* border: 2px solid rgb(231, 73, 0); */
  /* animation: blinkBait 1.5s linear infinite; */
}
/* @keyframes blinkBait {
    0%{
        box-shadow: 2px 2px 4px rgb(255, 90, 78),-2px -2px 4px rgb(255, 90, 78);
        
    }25%{
        box-shadow: 3px 3px 6px rgb(247, 3, 3),-3px -3px 6px rgb(255, 17, 0);
    }
    50%{
        box-shadow: 2px 2px 8px rgb(255, 17, 0),-2px -2px 8px rgb(255, 17, 0);
    }100%{
        box-shadow: 2px 2px 4px rgb(255, 90, 78),-2px -2px 4px rgb(255, 90, 78);
    }
} */

/*POP-UP WARNING WINDOW */
.warning{
    position: absolute;
    background-color: rgb(165, 165, 165);
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.5;
    display: none;
}

.ok_cancel,.foundem,.loser {
    position: absolute;
    z-index: 5;
    background-color: #616161;
    left: 45%;
    top: 45%;
    padding: 1%;
    border-radius: 3px;
    display: none;
}

.warningbtns{
    text-align: center;
    font-size: 1.2rem;
    color: rgb(165, 7, 7);

}

.ok, .cancel {  
    width: 30%;
    height: 20%;
    font-size: 1.2rem;
}
.foundem {
    text-align: center;
    padding: 2% 0;
}
.foundem p{
    color: #fff;
}
.foundem button{
    width: 45%;
    font-size: 0.8rem;
}
.PlayMore, .Save {
    width: 30%;
    height: 20%;
    font-size: 1rem;
    font-weight: 600;
    padding: 1% 0;
    margin: 5% 0;
}
.loser {
    text-align: center;
    color: #fff;  
}
.loser .KeepPlaying {
    width: 30%;
    height: 20%;
    font-size: 1rem;
    font-weight: 600;
    padding: 1% 0;
    margin: 5% 0; 
}


/*MEDIA QUERIES*/

/*Small Screen*/

@media all and (max-width:992px){

    .globe{
        width: 350px;
        height: 350px;
        /* margin-top: 20vh; */
        background-size: 650px;
    }
    main{
        padding-left:10%;
    }
    .sidebar{
        width: 15%;
        font-size: 0.8rem;
        font-weight: 550;
        padding: 0 1%;
    }
    .sidebar h3{
        font-size: 1rem;
    }
    .emojiFlag{
        width: 180px;
    }
    .highscore{
        position: relative;
        left: 6%;
        width: 50%;
        margin: 0 auto;
    }

   
    

      
}
@media screen and (max-width:600px){

    .globe {
        
        width: 300px;
        height: 300px;
        background-size: 650px;
      }
      .emojiFlag {
        width: 100px;
      }
      .emojiFlag > span,
      .randomCountry > span {
        font-size: 3rem;
      }
      .emojiFlag > h5{
        font-size: 65%;
      }
      .sidebar{
        position: relative;
        width: 85%;
        margin: 2% auto;
        padding-bottom: 1px;
        font-size: 80%;
      }
      main{
          position: unset;
          width: 85%;
          margin: 0 auto;
          padding: unset;
      }
      .sidebar > h3 {
        text-align: center;
        padding: 4% 0 1% 0;
        font-size: 1.5rem; 
      }
      
      .sidebar > div:nth-last-child(-n + 4) {
        background-color:#fff;
        text-align: center;
        padding: 2% 0;
        margin: 20px;
        border-radius: 5px;
        box-shadow: 2px 2px 6px rgb(66, 66, 66);
        cursor: pointer;
      }
      .sidebar div:nth-child(-n + 3) {
        
        
        background-color: #fff;
        margin: 15px 10px;
        padding: 1% 1%;
    }
    .loser>.KeepPlaying,
    .warningbtns .cancel
    {
        width: unset;
        padding: 4%;
    }
    .foundem,.loser,.ok_cancel{
        left: 35%;
    }
    .highscore{
      font-size:1rem;
      position: unset;
      text-align: center;
    }
      
}

